@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Noto Sans JP', BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  // font-family: , sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
